Repository hse-algo-24-owl/manual-tasks-owl, pull requests merged in 2024-12, with the labels that each got.

#5 noname-task-3-v-3
  task-3/noname.md
Labels: no-name

#6 Synergy task 3
  task-3/synergy.md
Labels: synergy

#4 Cats v salgos task 3
  .gitignore
  task-3/task-3 V2.md
Labels: cats-vs-algos

#7 Finished task 4
  task-4/noname.md
Labels: no-name

#8 Команда ootd выполнила задание 3
  task-3/ootd.md
Labels: ootd

#9 ewup-task-4
  task-4/ewup.md
Labels: ewup

#10 Synergy task 4
  task-4/synergy.md
Labels: synergy

#13 Задание 4
  task-4/task-4.md
Labels: cats-vs-algos

#15 task 5 done
  task-5/noname5.md
Labels: no-name

#16 Mikhailkrug task 5
  task-5/mikhailkrug.md
Labels: mikhailkrug

#17 Second task-5
  task-5/second.md
Labels: second

#14 Добавлено решение задачи 3 для nevermind
  task-3/nevermind.md
Labels: nevermind

#11 task-4
  task-4/Budapest-task-4.md
Labels: budapest

#18 Команда first сделала задание 5
  task-5/first.md
Labels: first

#19 Задание 5 ootd
  task-5/ootd.md
Labels: ootd

#20 задание 5 вариант 4
  task-5/task5V4.md
Labels: cats-vs-algos

#21 task-5
  task-5/Budapest-task-5.md
Labels: budapest

#22 Synergy task 5
  task-5/synergy.md
Labels: synergy

#23 Выполненное задание
  task-5/nevermind.md
Labels: nevermind

#24 Ewup task 5
  task-5/ewup.md
Labels: ewup
