Repository hse-algo-24-owl/manual-tasks-owl, pull requests merged in 2024-11, with the labels that each got.

#1 Ewup task 2
  task-2/ewup.md
Labels: ewup

#2 task-2
  task-2/Budapest-task-2.md
Labels: budapest

#3 Задание 2 команды mikhailkrug вариант 3
  task-2/mikhailkrug.md
Labels: mikhailkrug
