Repository hse-algo-24-owl/manual-tasks-owl, pull requests merged in 2025-01, with the labels that each got.

#30 ewup.md
  task-6/ewup.md
Labels: ewup

#31 Nevermind task 6
  task-6/nevermind.md
Labels: nevermind

#27 Noname task 6
  task-6/noname-6.md
Labels: no-name

#33 Second task-7
  task-7/second-task-7.md
Labels: second

#34 oatsmeal.md
  task-7/oatsmeal.md
Labels: oatsmeal

#39 chek
  task-7/synergy.md
Labels: synergy

#42 task-8-v-7 complete
  task-8/killnet.md
Labels: killnet

#41 task 8 done
  task-8/noname-task-8.md
Labels: no-name

#45 Задача 8
  task-8/catsVSalgos-V3.md
Labels: cats-vs-algos

#44 Second task-8
  task-8/second-task-8.md
Labels: second

#47 Выполненное задание 8
  task-8/nevermind-task-8.md
Labels: nevermind

#48 chek
  task-8/synergy.md
Labels: synergy

#52 Команда ootd выполнила задание 8
  task-8/ootd-task-8.md
Labels: ootd

#53 done
  task-8/ewup.md
Labels: ewup

#54 Mikhailkrug task 9
  task-9/mikhailkrug.md
Labels: mikhailkrug
