Repository hse-algo-24-owl/manual-tasks-owl, pull requests merged in 2025-03, with the labels that each got.

#99 Add files via upload
  task-11/Budapest-task-11.md
Labels: budapest

#100 Synergy task 12
  task-12/synergy.md
Labels: synergy

#104 Second task-13
  task-13/second-task-13.md
Labels: second

#105 Nevermind task 13
  nevermind-task-13.md
Labels: nevermind

#106 task-13-v-4 completed
  task-13/killnet.md
Labels: killnet

#108 Задание 13 Вариант 2 catsVSalgos
  task-13/catsVSalgos V2.md
Labels: cats-vs-algos

#101 Команда first сделала task-13
  task-13/first.md
Labels: first

#103 Команда ootd выполнила 13 задание
  task-13/ootd-task-13.md
Labels: ootd

#107 Synergy task 13
  task-13/synergy.md
Labels: synergy

#97 oatsmeal.md
  task-12/oatsmeal.md
Labels: oatsmeal

#95 Create mikhailkrug.md
  task-12/mikhailkrug.md
Labels: mikhailkrug

#110 Task 13 done
  task-13/noname13.md
Labels: no-name

#111 Mikhailkrug task 13
  task-13/mikhailkrug.md
Labels: mikhailkrug

#109 oatsmeal.md
  task-13/oatsmeal.md
Labels: oatsmeal

#112 Выполненное задание 14
  nevermind-task-14.md
Labels: nevermind

#113 Команда first сделала task-14
  task-14/first.md
Labels: first

#115 Second task-14
  task-14/second-task-14.md
Labels: second

#118 task-14-v-5 completed
  task-14/killnet.md
Labels: killnet

#120 Synergy task 14
  task-14/synergy.md
Labels: synergy

#123 Задание 14 Вариант 9
  task-14/catsVSalgos V9.md
Labels: cats-vs-algos

#116 Команда ootd выполнила задание 14
  task-14/ootd-task-14.md
Labels: ootd

#124 Budapest-task-14
  task-14/Budapest-task-14.md
Labels: budapest
