Repository hse-algo-24-owl/manual-tasks-owl, pull requests merged in 2025-02, with the labels that each got.

#50 Mikhailkrug task 8
  task-8/mikhailkrug.md
Labels: mikhailkrug

#55 task-9-v-9 completed
  task-9/killnet.md
Labels: killnet

#57 Команда first выполнила task-9
  task-9/first.md
Labels: question, first

#60 Команда ootd выполнила задание 9
  task-9/ootd-task-9.md
Labels: ootd

#63 oatsmeal.md
  task-9/oatsmeal.md
Labels: oatsmeal

#59 Add files via upload
  task-9/Задание № 9.md
Labels: no-name

#61 Задание 9 вариант 2
  task-9/catsVSalgos_V2.md
Labels: cats-vs-algos

#62 chek
  task-9/synergy.md
Labels: synergy

#65 Task 10 done
  task-10/noname.md
Labels: no-name

#66 Second task-10
  task-10/second-task-10.md
Labels: second

#70 oatsmeal.md
  task-10/oatsmeal.md
Labels: oatsmeal

#68 Команда first сделала task 10
  task-10/first.md
Labels: first

#71 Задание 10 вариант 8
  task-10/catsVSalgosV8.md
Labels: cats-vs-algos

#74 Mikhailkrug task 10
  task-10/mikhailkrug.md
Labels: mikhailkrug

#58 task-9
  task-9/Budapest-task-9.md
Labels: budapest

#76 Synergy task 10
  task-10/synergy.md
Labels: synergy

#77 Second task-11
  task-11/second-task-11.md
Labels: second

#80 Mikhailkrug task 11
  task-11/mikhailkrug.md
Labels: mikhailkrug

#81 Выполненное задание 11
  nevermind.md
Labels: nevermind

#82 oatsmeal.md
  task-11/oatsmeal.md
Labels: oatsmeal

#84 task-11-v-7 completed
  task-11/killnet.md
Labels: killnet

#79 Mikhailkrug task 11+
  task-11-plus/mikhailkrug.md
Labels: mikhailkrug

#90 Second task-12
  task-12/second-task-12.md
Labels: second

#85 chek
  task-11/synergy.md
Labels: synergy

#86 Задание 11 вариант 5
  task-11/catsVSalgos.md
Labels: cats-vs-algos

#89 Task 12 done
  task-12/noname_task_12.md
Labels: no-name

#93 task-12-v-7 completed
  task-12/killnet.md
Labels: killnet

#94 Команда ootd выполнила задание 12
  task-12/ootd-task-12.md
Labels: ootd

#88 Команда first сделала task-12
  task-12/first.md
Labels: first
